body {
    background-color: rgba(46, 48, 48, 0.986);
    text-align: center;
}

#level-title {
    font-family: cursive, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    font-weight: 900;
    color: rgb(247, 235, 146);
}

#start-button {
    padding: 0 10px;
    display: none;
    color: #fff;
    background-color: inherit;
    border: 2px outset;
    border-radius: 5px;
}

#start-button:hover {
    box-shadow: 0 0 5px #fff;
}

.container {
    display: flex;
    height: 75vh;
    flex-direction: column;
}

.container .row {
    display: flex;
    justify-content: center;
}

.container .row .btn {
    width: 25%;
    margin: 25px;
    height: 25vh;
    border: 20px solid #000;
    border-radius: 25px;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}
.pressed{
    box-shadow: 0 0 25px #fff;
    opacity: 0.5;
}
.game-over{
    background-color: red;
    opacity: 0.8;
}

@media screen and (max-width: 850px){
    #start-button {
        display: inline-block;
    }
}
